[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube
Exec=brave --password-store=basic --app=https://www.youtube.com
Icon=youtube
Categories=Network;WebBrowser;
StartupWMClass=youtube.com

